@keyframes capa {
    0%{
        background-position: 0 center;
    }
    50%{
        background-position: -500px center;
    }
    100%{
        background-position: 0 center;
    }
}

@keyframes capa-encolher{
    0%{
        height: 300px;
    }
    100%{
        height: 80px;
    }
}
