@font-face {
    font-family: 'impact';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'minecraft';
    src: url('../fonts/Minecrafter.Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraft-alt';
    src: url('../fonts/Minecrafter.Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: cursivo;
    src: url('../fonts/ComicNeue-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}